#container {
  display: flex;
  height: 100vh;
  width: 100vw;
  border: solid 3px black;
  flex-direction: column;
}
#nav {
  display: flex;
  flex-direction: row;
  border: solid 1px black;

}
#display {
  height: 90%;
  border: solid 2px black;

}
#footer {
  border: solid 1px black;
}
